h1 3DIET

xml3d xmlns="http://www.xml3d.org/2009/xml3d"
  transform#camera translation="0 0 100" rotation="1 1 0 0"
  view transform="#camera"
  group  style="transform: translate3d(0px,-20px, 0px)"
    mesh src="assets/teapot.json"
