javascript:
  window.addEventListener("load", function () {
    var init = function () {
      var view = document.querySelector("view");
      if (view && XML3D.StandardCamera.Instance !== false)
        XML3D.StandardCamera.Instance = new XML3D.StandardCamera(view, { rotateSpeed: 10 });
    };

    var xml3d = document.querySelector("xml3d");
    if (xml3d) {
      if (xml3d.complete)
        init();
      else
        xml3d.addEventListener("load", init);
    }
  });
  /**
  window.addEventListener("load", function () {
    var init = function () {
      var view = document.querySelector("view");
      XML3D.StandardCamera.Instance = new XML3D.StandardCamera(view, {rotateSpeed: 10});
    };
    document.querySelector("xml3d").addEventListener("load", init);
  });
  */

xml3d
  material#orange model="urn:xml3d:material:phong"
    float3 name="diffuseColor" 1 0.5 0
    float name="ambientIntensity" 0.9

  light#light1 model="urn:xml3d:light:directional"
    float3 name="intensity" 1 1 1

  transform#cameraTransform translation="0 0 200"
  view transform="#cameraTransform"

  group material="#orange" style="transform: translate3d(0px,0px, 0px) rotate3d(0, 1, 0, 0deg) scale(10, 10, 10); "
    mesh src="/stl/bol_nb_blender" navigation="#nav"