/*
 *= require_self
 */

@import 'color';
@import 'compass';
@import 'font';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'jquery.minicolors';
@import 'font-awesome';
@import "compass";
@import 'rails_bootstrap_forms';
@import 'admin/metisMenu.min';
@import 'admin/sb-admin-2';
@import 'admin/timeline';
@import 'chosen';

html, body{
  width: 100%;
  height: 100%;
}
.logo{
  padding: 7px;
  margin: 0;
  @include filter(invert(100%));
}

.login{
  width: 100%;
  height: 100%;
  background-color: $three_blue ;
}
.action{
  margin: 5px 5px;
  padding: 5px 10px;
  border-width: 1px;
  border-style: double;
  border-radius: 4px;
  &.destroy{
    color: white;
    border-color: red;
    background: red;
  }
  &.edit {
    color: white;
    border-color: $three_orange;
    background: $three_orange;
  }
}
