/*
 *= require_self
 */

@import 'color';
@import 'compass';
@import 'font';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'rails_bootstrap_forms';
@import 'admin/metisMenu.min';
@import 'admin/sb-admin-2';
@import 'admin/timeline';
@import 'chosen';

.logo{
  padding: 7px;
  margin: 0;
  filter: invert(100%);
}

.action{
  margin: 5px 5px;
  padding: 5px 10px;
  border-width: 1px;
  border-style: double;
  border-radius: 4px;
  &.destroy{
    color: white;
    border-color: red;
    background: red;
  }
  &.edit {
    color: white;
    border-color: orange;
    background: orange;
  }
}
