/*
 *= require_self
 */

@import 'color';
@import 'compass';
@import 'font';
@import 'jquery.minicolors';
@import 'font-awesome';
@import "partial/general";
@import 'welcome';
@import 'kit';
@import 'order';

html, body{
  font-family: $fontUbuntuLight;
  padding: 0;
  margin: 0;
  width: 100%;
}

body {
  margin-top: 72px;
}

.footer{
  font-size: 12px;
  color: white;
  background-color: $text_orange;
  height: 50px;
  display: table;
  text-align: center;
  width: 100%;
  ul{
    display: table-cell;
    vertical-align: middle;
    list-style-type: none;
    li{
      text-transform: uppercase;
      display: inline-block;
    }
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-center { text-align: center; }

.inline-block { display: inline-block; }

a {
  text-decoration: none;
}

.container-fluid {
  padding: 0 !important;
}

.remove-after {

  .container {
    //padding-bottom: 50px;
  }
  .footer {
    position: absolute;
    bottom: 0;
  }

  .container + .footer {
    position: static;
  }

  .new-order .form-kit .input-group input, .new-order .form-kit .input-group select, .new-order .form-kit .form-group input, .new-order .form-kit .form-group select {
    border: 1px solid #ccc;;
  }

  .btn-pink {
    background-color: #e93676 !important;
    color: white !important;

    &:hover {
      background-color: #ffb4ef !important;
    }
  }



  .remove-after-phase {
    font-family: 'Ubuntu', sans-serif !important;

    h2 {
      font-family: 'Ubuntu', sans-serif !important;
    }

    .tv, .tv .tupper {
      font-family: 'Ubuntu', sans-serif !important;
    }

    margin-bottom: 100px;
    padding-top: 40px;
    .top-buffer {
      margin-top: 100px;
    }

    .right-bar {
      background-color: rgba(#fc8b50, 0.2);

    }

    .kit-type {
      margin-top: 10px;
    }

  }
}

nav {
  background-color: rgb(249, 248, 243);
  background-color: rgba(249, 248, 243, 0.9);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  img {
    display: inline-block;
    width: 200px;
  }

  .navbar-collapse {
    padding-left: 20px;
  }

  .navbar-dropdown {
    display: none;
    margin: 50px 0;
    overflow: auto;
  }

  ul {
    text-align: center;
    padding: 0;
    li {
      list-style-type: none;
      margin: 20px auto;
    }

    a {
      color: rgb(23, 23, 23);
      font-family: 'Ubuntu', sans-serif;
      font-size: 22px;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  #nav-icon {
    @include transform(rotate(0deg));
    @include transition(.5s ease-in-out);
    display: inline-block;
    width: 35px;
    height: 48px;
    position: relative;
    //margin: 50px auto;
    cursor: pointer;
  }

  #nav-icon span {
    @include transform(rotate(0deg));
    @include transition(.25s ease-in-out);
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
  }

  #nav-icon span:nth-child(1) {
    top: 0;
    background: rgb(23, 23, 23);
  }

  #nav-icon span:nth-child(2), #nav-icon span:nth-child(3) {
    top: 10px;
    background: rgb(196, 194, 200);
  }

  #nav-icon span:nth-child(2) {
    background: rgb(23, 23, 23);
  }

  #nav-icon span:nth-child(4) {
    top: 20px;
    background: rgb(23, 23, 23);
  }

  #nav-icon.open span:nth-child(1) {
    top: 10px;
    width: 0;
    left: 50%;
  }

  #nav-icon.open span:nth-child(2) {
    @include transform(rotate(45deg));
  }

  #nav-icon.open span:nth-child(3) {
    @include transform(rotate(-45deg));
  }

  #nav-icon.open span:nth-child(4) {
    top: 10px;
    width: 0;
    left: 50%;
  }
}



