$three_pink: #e93676;
$three_pink_hover: rgb(255, 180, 239);

$three_yellow: #f5e643;
$three_orange: #ff742f;
$three_blue: #4bd4c6;

$three_gray: rgba(135, 135, 135, .31);

$textBrown: #620623;
$textOrange: #fc8b50;

$backgroundBlue: #abe4cd;
$backgroundBox: #faf9f5;

$borderGray: #777;
