$three_pink: #e93676;
$three_pink_hover: rgb(255, 180, 239);

$three_yellow: #f5e643;
$three_orange: #ff742f;
$three_blue: #4bd4c6;

$three_gray: rgba(135, 135, 135, .31);

$text_white: white;
$text_brown: #620623;
$text_orange: #fc8b50;
$text_black: black;

$background_white: #ffffff;
$background_light_blue: #dcebe4;
$background_light_blue: #bae4d6;
$background_blue: #abe4cd;
$background_box: #faf9f5;
$background_brown: #620623;
$background_light_orange: #f0a181;
$background_orange: #f07445;
$background_gray: #cecece;
$background_black: black;

$border_gray: #777;


