@font-face {
  font-family: 'Arsenale';
  src: font-url('arsenale_white.ttf') format('truetype');
}

@font-face {
  font-family: 'Gotham';
  src: font-url('gotham_bold.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Education';
  src: font-url('education_way.ttf');
}

