.title {
  font-family: 'Arsenale';
  margin: 0;
}

.form-kit {
  box-sizing: border-box;
  padding-top: 5%;
  padding-left: 5%;

  .span {
    font-size: 30px;
    font-family: 'Arsenale';
    margin: 0;
  }

}

.top-buffer { margin-top:20px; }

.btn-pink { background-color: $three_pink; } //button

.btn-pink:hover { background-color: $three_pink_hover; }

.btn.sharp {
  border-radius:0;
}

.no-border {
  background-color:transparent;
  border-style:none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  outline: 0px;
}
