.tv{
  background: image-url('tv.png') no-repeat;
  background-size: auto 100%;
  background-position: center center;
  padding-bottom: 2%;
  position: relative;
  font-family: "Education";
  color: white;

  .collection{
    position: absolute;
    width: 100%;
    top: 15%;
    font-size: 3em;
    pointer-events: none;
  }
  .selectors{
    position: absolute;
    width: 100%;
    top: 35%;
    font-size: 4em;
    pointer-events: none;
  }
  .screen{
    margin-top: -10%;
    width: 100%;
    height: auto;
  }
}
.link{
  pointer-events: auto;
  color: white;
  text-decoration: none;
  &:hover, &:active{
    pointer-events: auto;
    color: white;
    text-decoration: none;
  }
}
.new-order{
  font-family: "Arsenale";
  width: 100%;
  .form-kit {
    box-sizing: border-box;
    padding: 5%;

    label{
      font-size: 2em;
      padding: 6px 12px;
    }
    input, select{
      font-size: 2em;
      border: none;
      background: none;
      box-shadow: none;
      height: 100%;
      &[type='checkbox']{
        height: auto;
      }
    }
    span{
      font-size: 2em;
    }

  }

  &.review{
    font-size: 3em;
    .title{
      font-size: 1.2em;
    }

    .bullet{
      margin: 20px;
      .item{
        font-size: 0.8em;
      }
    }
  }

}

.sheet.order{
  .title{
    font-family: "Arsenale";
    padding: 10% 0 0 10%;
  }
  .bullet{
    padding: 20px;
    text-transform: uppercase;
    .item.selected{
      color: $three_pink;
    }
  }
}

.btn-pink { background-color: $three_pink; }

.btn-pink:hover { background-color: $three_pink_hover; }

.btn.sharp {
  border-radius:0;
}

.top-buffer { margin-top:20px; }
