.container{
  position: relative;
  width: 100%;

  .cover, .secondary-cover {
    position: relative;
    width: 100%;

    .left-image{
      position: relative;
      width: 82%;

      > img {
        vertical-align: bottom;
      }

      img {
        width: 100%;
      }

      .logo-wrapper{
        @include translateY(-50%);
        position: absolute;
        top: 50%;
        left: 0;
        width: 90%;
        text-align: center;
        .logo{
          margin-left: 32.5%;
          width: 35%;
          img{
            width: 100%;
          }
          > .subtitle{
            text-align: center;
            font-family: $fontPermanentMarker;
            font-size: 20px;
            @include translate(40%, 0);
          }
        }
      }
    }

    .right-image{
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 26%;

      img {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
        clip-path:  polygon(0 0, 100% 0, 100% 100%, 20% 100%);
        position: absolute;
        right: 0;
        width: 100%;
      }
      &.sec img{
        width: 35%;
      }

      .button {
        @include translateX(-50%);
        position: absolute;
        bottom: 15%;
        left: 50%;
        max-width: 80px;
      }
    }

    .bottom-info{
      position: absolute;
      bottom: -15%;
      width: 100%;

      .background{
        position: absolute;
        overflow:hidden;
        width: 100%;
        bottom: 0;
        height: 50vh;
        &:after{
          top: 20%;
          left: -5%;
          height:100%;
          width:105%;
          @include rotate(3deg);
          position:absolute;
          background-color: white;
          content:'';
        }
      }

      .col-wrapper{
        position: absolute;
        bottom: 6vh;
        padding: 15% 0 0 10%;
        overflow: auto;
        width: 80%;
        .col{
          text-align: center;
          float: left;
          width: 23.33%;
          padding: 0 5%;
          .title{
            font-family: $fontPermanentMarker;
            font-size: 24px;
            color: $text_brown;
          }
          .subtitle{
            text-transform: uppercase;
            font-size: 12px;
            padding: 10px 0 15px 0;
            color: $text_orange;
          }
          .text{
            font-size: 12px;
            line-height: 22px;
          }
        }
      }
    }
  }

  .secondary-cover {
    .left-image {
      width: 56.1%;
    }

    .right-image {
      width: 57%;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);

      img {
        position: absolute;
        right: 0;
      }

      .button {
        @include translateX(-50%);
        position: absolute;
        bottom: 15%;
        left: 50%;
        max-width: 80px;
      }
    }
  }

  .kit-call{
    position: relative;
    background-image: image-url("kit_texture.png");
    overflow: auto;
    //margin-top: 8%;
    padding: 4% 10%;
    .kit-image{
      float: left;
      text-align: center;
      width: 60%;
    }
    .kit-info{
      float: left;
      width: 40%;
      .pre-title{
        text-transform: uppercase;
        font-size: 12px;
        color: $text_orange;
      }
      .title{
        font-family: $fontPermanentMarker;
        font-size: 28px;
        line-height: 30px;
        color: $text_brown;
        padding: 15px 0 20px 0;
      }
      .text{
        font-size: 12px;
        line-height: 22px;
      }
    }
  }

  .guide-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    .guide-info{
      @include translateY(-50%);
      @include box-sizing(border-box);
      position: absolute;
      left: 4%;
      //max-width: 250px;
      top: 50%;
      width: 84%;
      padding: 2% 2% 2% 12%;
      background-image: image-url("guide_background.png");
      background-repeat: no-repeat;
      background-size: 100% auto;
      .pre-title{
        text-transform: uppercase;
        font-size: 12px;
        color: white;
      }
      .title{
        font-family: $fontPermanentMarker;
        font-size: 28px;
        line-height: 30px;
        color: white;
        padding: 15px 0 20px 0;
      }
      .text{
        font-size: 12px;
        color: white;
        line-height: 22px;
      }
     }
  }

  .community-wrapper {
    background: image_url("home/01-Home-5.jpg") no-repeat center center;
    background-size: cover;
    overflow: auto;

    .content {
      position: relative;
      margin: 4% 10%;

      section {
        max-width: 400px;
      }

      h2 {
        color: $text_white;
        font-family: $fontPermanentMarker;
        font-size: 40px;
        line-height: 60px;
      }

      .pre-title {
        color: $text_orange;
        font-size: 12px;
        text-transform: uppercase;
      }

      p {
        color: $text-white;
        line-height: 24px;
        max-width: 320px;
      }

      .button {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }

  .info-wrapper {
    overflow: auto;

    .left, .right {
      @include box-sizing(border-box);
      padding: 4% 5%;
      width: 50%;
    }

    .left {
      background-color: $background_orange;
    }

    .right {
      background-color: $background_brown;
    }

    section {
    }

    h2 {
      color: $text_white;
      font-family: $fontPermanentMarker;
      font-size: 40px;
      line-height: 60px;
    }

    .pre-title {
      color: $text-white;
      font-size: 12px;
      text-transform: uppercase;
    }

    p {
      color: $text-white;
      line-height: 24px;
    }

  }

  .access-wrapper{
    position: relative;
    width: 100%;
    > .left-column{
      float: left;
      position: relative;
      width: 30%;
      .experience-info{
        padding: 10%;
        .pre-title{
          text-transform: uppercase;
          font-size: 12px;
          color: $text_orange;
        }
        .title{
          font-family: $fontPermanentMarker;
          font-size: 28px;
          line-height: 30px;
          color: $text_brown;
          padding: 15px 0 20px 0;
        }
        .text{
          font-size: 12px;
          line-height: 22px;
        }
      }
      .access-form{
        padding: 10%;
        .title{
          font-family: $fontPermanentMarker;
          font-size: 16px;
          padding: 15px 0 20px 0;
          color: $text_orange;
        }
        .input-wrapper{
          margin: 10px 0;

          #access-submit{
            margin-top: 10px;
          }

        }

      }
    }
    > .right-column{
      float: left;
      position: relative;
      width: 70%;
      height: 460px;
      .box{
        background-color: $background_box;
        color: $text_brown;
        text-transform: uppercase;
        padding: 10% 0 0 10%;
        line-height: 160%;
      }
      .top-row{
        position: relative;
        width: 100%;
        height: 40%;
        > .left-column {
          float: left;
          position: relative;
          width: 42.5%;
          height: 60%;
          margin: 5% 2.5% 2.5% 5%;
        }
        > .right-column {
          float: left;
          position: relative;
          width: 22.5%;
          height: 60%;
          margin: 5% 0 2.5% 2.5%;
        }
      }
      .bottom-row{
        height: 60%;
        width: 100%;
        > .left-column {
          float: left;
          position: relative;
          width: 52.5%;
          height: 60%;
          margin: 2.5% 2.5% 5% 5%;
          > .text{
            position: absolute;
            right: 5%;
          }

          > .background{
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 75%;
            background: image-url("blog_background.jpg") center center no-repeat;
          }
        }
        > .right-column {
          float: left;
          position: relative;
          width: 17.5%;
          height: 60%;
          margin: 2.5% 0 5% 2.5%;
          padding: 10% 0 0 5%;
        }
      }
    }
  }
  .banner-call{
    clear: both;
    position: relative;
    width: 100%;
    text-align: center;

    > img{
      width: 100%;
      vertical-align: bottom;
    }
    .title{
      width: 100%;
      font-family: $fontPermanentMarker;
      font-size: 64px;
      color: black;
      position: absolute;
      top: 50%;
      left:0;
      @include translate(0, -50%);
    }

  }
  .share-wrapper{
    width: 100%;
    .instagram{
      padding-bottom: 5%;
      text-align: center;
      background-image: image-url("instagram_texture.png");
      .text{
        padding: 2.5% 0;
        text-transform: uppercase;

      }
    }
    .contact{
      padding: 5% 20% 0 5%;;
      position: absolute;
      left: 0;
      bottom: 0;
      background: image-url("share_background.png") center center no-repeat;
      .title{
        text-transform: uppercase;
        font-weight: bold;
        padding: 5% 0 15% 0;
      }
      .text{
        font-size: 12px;
      }
      .social{
        padding: 10% 0 0 0;
        .fa{
          margin: 10px;
        }
      }
    }

  }

}
