.container{
  position: relative;
  width: 100%;

  .cover, .secondary-cover{
    position: relative;
    width: 100%;
    .left-image{
      position: relative;
      width: 100%;
      img{
        width: 100%;
      }
      .logo-wrapper{
          position: absolute;
          top: 50%;
          left: 0;
          width: 90%;
          text-align: center;
          .logo{
            margin-left: 32.5%;
            width: 35%;
            img{
              width: 100%;
            }
            > .subtitle{
              text-align: center;
              font-family: $fontPermanentMarker;
              font-size: 20px;
              @include translate(40%, 0);
            }
          }
      }
    }

    .right-image{
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      img{
        position: absolute;
        right: 0;
        width: 30%;
      }
      &.sec img{
        width: 35%;
      }
    }

    .bottom-info{
      position: absolute;
      bottom: -15%;
      width: 100%;

      .background{
        position: absolute;
        overflow:hidden;
        width: 100%;
        bottom: 0;
        height: 50vh;
        &:after{
          top: 20%;
          left: -5%;
          height:100%;
          width:105%;
          @include rotate(3deg);
          position:absolute;
          background-color: white;
          content:'';
        }
      }

      .col-wrapper{
        position: absolute;
        bottom: 6vh;
        padding: 15% 0 0 10%;
        overflow: auto;
        width: 80%;
        .col{
          text-align: center;
          float: left;
          width: 23.33%;
          padding: 0 5%;
          .title{
            font-family: $fontPermanentMarker;
            font-size: 24px;
            color: $textBrown;
          }
          .subtitle{
            text-transform: uppercase;
            font-size: 12px;
            padding: 10px 0 15px 0;
            color: $textOrange;
          }
          .text{
            font-size: 12px;
            line-height: 22px;
          }
        }
      }
    }
  }

  .kit-call{
    position: relative;
    background-image: image-url("kit_texture.png");
    overflow: auto;
    margin-top: 8%;
    padding: 4% 0 2% 10%;
    .kit-image{
      float: left;
      text-align: center;
      width: 50%;
    }
    .kit-info{
      float: left;
      margin-left: 15%;
      width: 30%;
      .pre-title{
        text-transform: uppercase;
        font-size: 12px;
        color: $textBrown;
      }
      .title{
        font-family: $fontPermanentMarker;
        font-size: 28px;
        line-height: 30px;
        color: $textBrown;
        padding: 15px 0 20px 0;
      }
      .text{
        font-size: 12px;
        line-height: 22px;
      }
    }
  }
  .guide-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    .guide-info{
     position: absolute;
     left: 66.4%;
     max-width: 250px;
     top: 18%;
     width: 20%;
     padding: 2% 2% 2% 5%;
     background-image: image-url("guide_background.png");
     background-repeat: no-repeat;
     background-size: 100% auto;
     .pre-title{
       text-transform: uppercase;
       font-size: 12px;
       color: white;
     }
     .title{
       font-family: $fontPermanentMarker;
       font-size: 28px;
       line-height: 30px;
       color: white;
       padding: 15px 0 20px 0;
     }
     .text{
       font-size: 12px;
       color: white;
       line-height: 22px;
     }
   }
  }
  .access-wrapper{
    position: relative;
    width: 100%;
    > .left-column{
      float: left;
      position: relative;
      width: 30%;
      .experience-info{
        padding: 10%;
        .pre-title{
          text-transform: uppercase;
          font-size: 12px;
          color: $textOrange;
        }
        .title{
          font-family: $fontPermanentMarker;
          font-size: 28px;
          line-height: 30px;
          color: $textBrown;
          padding: 15px 0 20px 0;
        }
        .text{
          font-size: 12px;
          line-height: 22px;
        }
      }
      .access-form{
        padding: 10%;
        .title{
          font-family: $fontPermanentMarker;
          font-size: 16px;
          padding: 15px 0 20px 0;
          color: $textOrange;
        }
        .input-wrapper{
          margin: 10px 0;

          #access-submit{
            margin-top: 10px;
          }

        }

      }
    }
    > .right-column{
      float: left;
      position: relative;
      width: 70%;
      height: 460px;
      .box{
        background-color: $backgroundBox;
        color: $textBrown;
        text-transform: uppercase;
        padding: 10% 0 0 10%;
        line-height: 160%;
      }
      .top-row{
        position: relative;
        width: 100%;
        height: 40%;
        > .left-column {
          float: left;
          position: relative;
          width: 42.5%;
          height: 60%;
          margin: 5% 2.5% 2.5% 5%;
        }
        > .right-column {
          float: left;
          position: relative;
          width: 22.5%;
          height: 60%;
          margin: 5% 0 2.5% 2.5%;
        }
      }
      .bottom-row{
        height: 60%;
        width: 100%;
        > .left-column {
          float: left;
          position: relative;
          width: 52.5%;
          height: 60%;
          margin: 2.5% 2.5% 5% 5%;
          > .text{
            position: absolute;
            right: 5%;
          }

          > .background{
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 75%;
            background: image-url("blog_background.jpg") center center no-repeat;
          }
        }
        > .right-column {
          float: left;
          position: relative;
          width: 17.5%;
          height: 60%;
          margin: 2.5% 0 5% 2.5%;
          padding: 10% 0 0 5%;
        }
      }
    }
  }
  .banner-call{
    clear: both;
    position: relative;
    width: 100%;
    text-align: center;

    > img{
      width: 100%;
    }
    .title{
      width: 100%;
      font-family: $fontPermanentMarker;
      font-size: 64px;
      color: black;
      position: absolute;
      top: 50%;
      left:0;
      @include translate(0, -50%);
    }

  }
  .share-wrapper{
    width: 100%;
    .instagram{
      padding-bottom: 5%;
      text-align: center;
      background-image: image-url("instagram_texture.png");
      .text{
        padding: 2.5% 0;
        text-transform: uppercase;

      }
    }
    .contact{
      padding: 5% 20% 0 5%;;
      position: absolute;
      left: 0;
      bottom: 0;
      background: image-url("share_background.png") center center no-repeat;
      .title{
        text-transform: uppercase;
        font-weight: bold;
        padding: 5% 0 15% 0;
      }
      .text{
        font-size: 12px;
      }
      .social{
        padding: 10% 0 0 0;
        .fa{
          margin: 10px;
        }
      }
    }

  }

}
