footer{
  //font-size: 12px;
  color: white;
  background-color: $text_orange;
  text-align: center;
  overflow: auto;
  width: 100%;

  .wrapper {
    margin: 30px;
    overflow: hidden;

    .col {
      background-color: white;
      float: left;
      margin: 0 10px;
      margin-bottom: -99999px;
      padding-bottom: 99999px;

      .content {
        color: $text_black;
        overflow: auto;
        padding: 30px;
      }

      &:nth-child(1), &:nth-child(3) {
        $width: calculatePercent(300px, 1180px);
        width: calc(#{$width} - 20px);
      }

      &:nth-child(2) {
        $width: calculatePercent(580px, 1180px);
        width: calc(#{$width} - 20px);
      }

      &:nth-child(1) .content {
        p {
          font-size: 16px;
          margin: 0;
          margin-bottom: 100px;
        }

        .social-link img {
          width: 30px;

          + img {
            margin-left: 5px;
          }
        }
      }

      &:nth-child(2) .content {
        padding: 20px;

        .left, .right {
          width: calc(50% - 10px);
        }

        .left {
          margin-right: 10px;
        }

        .right {
          margin-left: 10px;
        }

        h2, h3, p {
          margin: 10px 0;
        }

        h2 {
          font-family: $fontPermanentMarker;
          font-size: 28px;
          line-height: 30px;
          margin-top: 10px;
        }

        h3 {
          font-size: 18px;
        }

        img {
          width: 100%;
        }

        p {
          font-size: 13px;
        }

        .button {
          @include box-sizing(border-box);
          display: block;
          font-size: 13px;
          max-width: 135px;
        }
      }

      &:nth-child(3) .content ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          font-size: 14px;
         + li {
           padding-top: 5px;
         }
        }
      }
    }
  }

  .bottom-links {
    padding: 20px 30px;

    span, a {
      color: $text_white;
      font-size: 14px;
    }

    .line-separator {
      margin: 0 10px;
    }
  }
}