@function calculatePercent($size, $base-size) {
  @return #{(($size / $base-size) * 100) + "%"};
}

@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    content: "";
    display: block;
    padding-top: ($height / $width) * 100%;
    width: 100%;
  }

  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.custom-button{
  font-family: $fontUbuntuLight;
  padding: 10px 15px;
  text-transform: uppercase;
  &.black{
    background-color: black;
    color: white;
    border: none;
  }
}

.custom-input{
  font-family: $fontUbuntuLight;
  min-width: 220px;
  border: 0 solid $border_gray;
  border-bottom-width: 1px;
  padding: 10px;
  @include transition(padding .3s ease-in-out);
  &:focus{
    outline: none;
    padding-bottom: 30px;
    @include transition(padding .3s ease-in-out);
  }
}

.button {
  text-align: center;
  padding: 10px 35px;

  &.orange {
    color: $text_white;
    background-color: $background_orange;
  }

  &.blue {
    color: $text_white;
    background-color: $background_blue;
  }

  &.brown {
    color: $text_white;
    background-color: $background_brown;
  }
}

.text-left {
  text-align: left;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-bold {
  font-weight: bold;
}

a, a:active, a:hover, a:visited, a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
}

.table {
  display: table;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}