@function calculatePercent($size, $base-size) {
  @return #{(($size / $base-size) * 100) + "%"};
}

@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    content: "";
    display: block;
    padding-top: ($height / $width) * 100%;
    width: 100%;
  }

  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.custom-button{
  font-family: $fontUbuntuLight;
  padding: 10px 15px;
  text-transform: uppercase;
  &.black{
    background-color: black;
    color: white;
    border: none;
  }
}

.custom-input{
  font-family: $fontUbuntuLight;
  min-width: 220px;
  border: 0 solid $border_gray;
  border-bottom-width: 1px;
  padding: 10px;
  @include transition(padding .3s ease-in-out);
  &:focus{
    outline: none;
    padding-bottom: 30px;
    @include transition(padding .3s ease-in-out);
  }
}

.button {
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 10px 35px;

  &.orange {
    color: $text_white;
    background-color: $background_orange;
  }

  &.white {
    color: $text-orange;
    background-color: $background_white;
  }

  &.blue {
    color: $text_white;
    background-color: $background_blue;
  }

  &.brown {
    color: $text_white;
    background-color: $background_brown;
  }
}

.text-left {
  text-align: left;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-bold {
  font-weight: bold;
}

a, a:active, a:hover, a:visited, a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
}

.table {
  display: table;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

.close {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  overflow: hidden;
  &:hover {
    &::before, &::after {
    }
  }

  &::before, &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: $background_brown;
  }
  &::before {
    @include transform(rotate(45deg));
  }
  &::after {
    @include transform(rotate(-45deg));
  }
}

input[type="submit"] {
  outline: none;
}

#jGrowl {
  top: 85px !important;

  .jGrowl-notification {
    background-color: $background_white;
    color: $text_black;
    font-size: 14px;
  }
}

p.notice {
  display: none;
}