@function calculatePercent($size, $base-size) {
  @return #{(($size / $base-size) * 100) + "%"};
}

.custom-button{
  font-family: $fontUbuntuLight;
  padding: 10px 15px;
  text-transform: uppercase;
  &.black{
    background-color: black;
    color: white;
    border: none;
  }
}

.custom-input{
  font-family: $fontUbuntuLight;
  min-width: 220px;
  border: 0 solid $border_gray;
  border-bottom-width: 1px;
  padding: 10px;
  @include transition(padding .3s ease-in-out);
  &:focus{
    outline: none;
    padding-bottom: 30px;
    @include transition(padding .3s ease-in-out);
  }
}

.button {
  text-align: center;
  padding: 10px 35px;

  &.orange {
    color: $text_white;
    background-color: $background_orange;
  }
}

.text-left {
  text-align: left;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-bold {
  font-weight: bold;
}

a, a:active, a:hover, a:visited, a:focus {
  outline: none;
  text-decoration: none;
  text-underline: none;
}